@font-face {
  font-family:Lato-Black;
  src: url(fonts/Lato-Black.ttf);
}
* {
  color: white;
  font-family:Lato-Black;
}
body {
  background: linear-gradient(-35deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 20s ease infinite;
	height: 100vh;}
  @keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.alert {
  padding: 15px;
  border-radius: 15px;
  border-style: solid;
  color: rgb(255, 255, 255);
  margin-bottom: 15px;
}
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.closebtn:hover {
  color: rgb(172, 172, 172);
}
a {
  text-decoration: none
}
.button {
  border: solid;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 25px;
  color: rgb(0, 0, 0);
  padding: 15px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 4px 2px;
  cursor: pointer;
}
.button1 {background-color: #0cbbda00;}